.Navbar{
    color:white;
    width:80%;
    
    height:45px;
    display:flex;
    justify-content:flex-end;
    margin-top: -5rem;
    gap:75px;
}
.Navbar li{
    font-size:18px;
    cursor:pointer;
}
.profile-container{
    width:fit-content;
    height:100%;
}