/* .filtercomponent{
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid #ccc;
    border-radius:5px;
    gap:0.3rem;
    background-color: red;
    color:#888 !important;
    font-size:19px;
}
.filtercomponent p{
    color: #888 !important;
} */