.resto-image-container{
  display:flex;
gap:.5rem;
box-sizing:border-box;
width:100%;
height:25rem;
margin-top:2rem;
}
.firstImage{
width:80%;
height:100%;
overflow:hidden;
}
.firstImage img{
transition: linear 0.3s;
object-fit:cover;
width: 100%;
height: 100%;
}
.firstImage img:hover{
    transform:scale(1.03)
}
.secondThird-img{
    display:flex;
    flex-direction:column;
    row-gap:.5rem;
}
.secondImage{
overflow: hidden;
}
.thirdImage{
overflow: hidden;
}
.resto-image-container img{
    width:100%;
    height:100%;
    transition:linear 0.3s;
}
.resto-image-container img:hover{
    transform:scale(1.03)
}